#root {
  width: 1024px;
  height: 600px;
  margin: 0 auto;
}

#station-wrapper {
  background-image: url("/images/stations-brackets.png");
  background-repeat: no-repeat;
  background-position: center;
}